<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REVIEW</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body {
            background-color: #f8f9fa; 
            color: #495057; 
        }

        nav.navbar {
            background-color: #343a40; 
        }

        nav.navbar a.navbar-brand {
            color: #ffffff; 
            font-weight: bold; 
        }
    </style>
</head>

<body>
    <!-- Image and text -->
    <nav class="navbar navbar-light bg-dark">
        <a class="navbar-brand" href="{% url 'reviewapp:index'  %}">
            LAPTOP REVIEWS
        </a>
    </nav>

    {% block body %}
    {% endblock %}

</body>

</html>
