{% extends 'base.html' %}

{% block body %}
<div class="container mt-4">
    <div class="row">
        {% for i in rev %}
        <div class="col-sm-12 col-md-4 col-lg-4 mb-4">
            <div class="card h-100" style="width: 18rem; background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 8px;">
                <img class="card-img-top" src="{{ i.image.url }}" alt="{{ i.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ i.name }}</h5>
                    <p class="card-text">
                        <a href="{% url 'reviewapp:reviews' i.id %}" class="btn btn-outline-secondary btn-sm">Read More</a>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="text-center mt-4">
    <a href="{% url 'reviewapp:new' %}" class="btn btn-success btn-lg">Click Here to Add a New Review</a>
</div>
{% endblock %}